@charset "UTF-8";
.star-rating {
	display: flex;
	flex-direction: row-reverse;
	font-size: 2.25rem;
	line-height: 2.5rem;
	justify-content: space-around;
	padding: 0 0.2em;
	text-align: center;
	width: 5em;
	margin-top: 50px;
	margin-left: 20px;
	margin-bottom: 10px;
}
.star-rating p{
	float: right;
} 
.star-rating input {
	display: none;
}
			 
.star-rating label {
	-webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 2.3px;
	-webkit-text-stroke-color: #2b2a29;
	cursor: pointer;
}
			 
.star-rating :checked ~ label {
	-webkit-text-fill-color: gold;
}
			 
.star-rating label:hover,
.star-rating label:hover ~ label {
	-webkit-text-fill-color: #fff58c;
}
.review_textarea{
	padding-top: 10px;
	padding-left: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	height:100px;
}
button { 
	margin-bottom: 100px;
	width: 100px;
	border: 2px solid #578fd5;
	border-radius: 30px;
	font-color: #578fd5;
	margin-top: 5px;
	font-weight: bold;
	background-color: white;
	position: 500px;
}
.infonav{
	font-size: 20px; 
	font-weight: bold;
	border-left: 5px solid #9bbde6;
	margin-left: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	margin-top: 30px;
}

